@use './variables' as *;
// scss/_mixins.scss
@mixin card {
  background: $bg-2;
  border: 1px solid $border;
  border-radius: $radius;
  padding: 16px;
}

@mixin btn($bg,$bd,$color:#fff) {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  background: $bg;
  border: 1px solid $bd;
  color: $color;
  padding: 10px 12px;
  border-radius: 10px;
  cursor: pointer;
  &:disabled{ opacity:.6; cursor:not-allowed; }
}
